@import url("./color.css");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  color: var(--branco);
  font-size: 100%;
}

/* NAVBAR*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .logo{
    width: 60%;

  }
/*  FIM NAVBAR*/
.imagem-principal{
 height: 600px;
 width: 100%;
 opacity: 0.4;
}

.conteudo{
  color: var(--branco);
  margin-left: 10%;
  margin-right: 10%;
  
}

.texto-principal{
  color: var(--preto);
  position:absolute;
  z-index:1;
  top:auto;
  margin-top: 2%;
}
.texto-seundario{
  color:var(--azul);
  position:absolute;
  z-index:1;
  top:auto;
  margin-top: 6%;
}


#login  #login-row #login-column #login-box  {
  max-width: 800px;
  height: 520px;
  position:absolute;
  z-index:1;
  margin-left: -7%;


}
#login  #login-row #login-column #login-box #login-form {
  padding: 7% 80px;
  
}

.btn{
  font-size: 1.5rem;
  display: flex;
  justify-content: center; 
 
}
.btnConta{
  font-size: 1.5rem;
  display: flex;
  justify-content: center; 
 
}

.form-group input{
  margin-bottom: 50px;
  
}
#login-form{
  margin: 10px 40px;
}

